/* Define colors for light and dark mode */
:root {
    /* Default light mode colors */
    --background-color: white;
    --text-color: black;
    --example-background-color: rgb(238,238,255);
    --link-color: #00f;
    --link-visited-color: #a0a;
    --hover-background-color: #555753;
    --hover-color: #cdf;
    --nav-panel-background-color: #CDCCDD;
    --div-titlebox-background-color: rgb(200,255,255);
    --div-synopsisbox-backgraound-color: rgb(255,220,255);
    --pre-example-border: 1px solid rgb(180,180,180);
    --div-categorybox-border: 1px solid gray;
    --div-categorybox-background-color: #fdf6e3;
}
@media (prefers-color-scheme: dark) {
    :root {
        /* Dark Mode Overrides */
        --background-color: #444;
        --text-color: #eee;
        --example-background-color: #aab;
        --link-color: #9df;
        --link-visited-color: #9fd;
        --hover-background-color: #ddd;
        --hover-color: #55f;
        --nav-panel-background-color: #555;
        --div-titlebox-background-color: black;
        --div-synopsisbox-backgraound-color: black;
        --pre-example-border: 1px solid black;
        --div-categorybox-border: 1px solid gray;
        --div-categorybox-background-color: #544;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --example-background-color: #aab;
    }
}

/* Overrides to the default Makeinfo CSS */
div.display {margin-left: 0}
div.example {
    margin-left: 0;
    font-family: "Courier New", "DejaVu Sans Mono", monospace
}
/* end of overrides */

body {
    color: var(--text-color);
    background: var(--background-color);
    margin-left: 5px;
    margin-right: 5px;
    font-family: Arial, Verdana, Helvetica, sans-serif
}
h1 { font-size: 150% }
h2 { font-size: 125% }
h3 { font-size: 110% }
a:link {
    text-decoration: none;
    color: var(--link-color);
}
a:visited {color: var(--link-visited-color) }
a:hover, span.button:hover {
    background-color: var(--hover-background-color);
    color: var(--hover-color);
}
/*
 * What are these used for?  I (rtoy) can't find these anywhere.
 * Commenting these out for now, but they should be removed if they're
 * not really used anywhere.
 */
/*
div.textbox {
    border: solid;
    border-width: thin;
    padding: 1em 2em;
}
div.titlebox {
    border: none;
    padding-top: 1em 2em;
    background: var(--div-titlebox-background-color);
}
div.synopsisbox {
    border: none;
    padding-top: 1em 2em;
    background: var(--div-synopsisbox-background-color);
}
*/

pre.example, pre.example-preformatted {
    border: var(--pre-example-border);
    color: var(--text-color);
    padding: 5px;
    background-color: var(--example-background-color);
    /* Add scrollbar for examples for narrow windows */
    overflow: auto;
}

/*
 * For pygments, make the background color of the highlighted code the
 * same as the example background color.  Without this, it looks funny.
 */

div.highlight {
    background-color: var(--example-background-color) !important;
}

div.spacerbox { border: none; padding: 2em 0 }
div.image { margin: 0; padding: 1em; text-align: center }
div.categorybox {
    border: var(--div-categorybox-border);
    padding: 1em;
    background: var(--div-categorybox-background-color);
}
img {
    max-width:80%;
    max-height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto
}
tt, code { font-family: "Courier New", "DejaVu Sans Mono", monospace }

/*
 * Put background color on the navigation bar
 * Texinfo 7.1 and later uses div.nav-panel.  6.8 uses div.header.
 */
div.header, div.nav-panel {
    background-color: var(--nav-panel-background-color);
    padding: 3px 10px;
}

/*
 * Pygments uses a line height of 125%, which seems too small compared
 * to what we used to do.
 */
div.highlight pre {
    line-height: normal !important;
}

/* Reduce the indentation of lists and descriptions */
ul,ol { padding-left: 1em }
dd { margin-left: 0.5em }

@media screen and (min-width: 600px) {
    body {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    div.display { margin: 0 2em }
    div.example { margin: 0 2em }
    pre.example, pre.example-preformatted { padding: 1em }
    ul,ol { padding-left: 2em }
    dd { margin-left: 1.5em }
}

/*
 * CSS customizations for pygment highlighting
 */

/*
 * For pygments, make the background color of the highlighted code the
 * same as the example background color.  Without this, it looks funny.
 */

div.highlight {
    background-color: var(--example-background-color) !important;
}

.example.user-maxima {
    overflow-x: auto
}

.highlight.pre {
    /*
     * Lines for highlighted examples are too close by default with
     * pygments.  Make it larger.
     */
    line-height: normal !important;
}

/* CSS for pygment highlighting */
.example.user-maxima {
    overflow-x: auto
}

.highlight.pre {
    /* Lines for highlighted examples are too close by default with
     *  pygments.  Make it larger.
     */
    line-height: normal !important;
}

/*
 * CSS from pygmentize -S paraiso-light -f html
 */
@media (prefers-color-scheme: light) {
    pre { line-height: 125%; }
    td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
    span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
    td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
    span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
    .hll { background-color: #a39e9b }
    .c { color: #8D8687 } /* Comment */
    .err { color: #EF6155 } /* Error */
    .k { color: #815BA4 } /* Keyword */
    .l { color: #F99B15 } /* Literal */
    .n { color: #2F1E2E } /* Name */
    .o { color: #5BC4BF } /* Operator */
    .p { color: #2F1E2E } /* Punctuation */
    .ch { color: #8D8687 } /* Comment.Hashbang */
    .cm { color: #8D8687 } /* Comment.Multiline */
    .cp { color: #8D8687 } /* Comment.Preproc */
    .cpf { color: #8D8687 } /* Comment.PreprocFile */
    .c1 { color: #8D8687 } /* Comment.Single */
    .cs { color: #8D8687 } /* Comment.Special */
    .gd { color: #EF6155 } /* Generic.Deleted */
    .ge { font-style: italic } /* Generic.Emph */
    .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
    .gh { color: #2F1E2E; font-weight: bold } /* Generic.Heading */
    .gi { color: #48B685 } /* Generic.Inserted */
    .gp { color: #8D8687; font-weight: bold } /* Generic.Prompt */
    .gs { font-weight: bold } /* Generic.Strong */
    .gu { color: #5BC4BF; font-weight: bold } /* Generic.Subheading */
    .kc { color: #815BA4 } /* Keyword.Constant */
    .kd { color: #815BA4 } /* Keyword.Declaration */
    .kn { color: #5BC4BF } /* Keyword.Namespace */
    .kp { color: #815BA4 } /* Keyword.Pseudo */
    .kr { color: #815BA4 } /* Keyword.Reserved */
    .kt { color: #FEC418 } /* Keyword.Type */
    .ld { color: #48B685 } /* Literal.Date */
    .m { color: #F99B15 } /* Literal.Number */
    .s { color: #48B685 } /* Literal.String */
    .na { color: #06B6EF } /* Name.Attribute */
    .nb { color: #2F1E2E } /* Name.Builtin */
    .nc { color: #FEC418 } /* Name.Class */
    .no { color: #EF6155 } /* Name.Constant */
    .nd { color: #5BC4BF } /* Name.Decorator */
    .ni { color: #2F1E2E } /* Name.Entity */
    .ne { color: #EF6155 } /* Name.Exception */
    .nf { color: #06B6EF } /* Name.Function */
    .nl { color: #2F1E2E } /* Name.Label */
    .nn { color: #FEC418 } /* Name.Namespace */
    .nx { color: #06B6EF } /* Name.Other */
    .py { color: #2F1E2E } /* Name.Property */
    .nt { color: #5BC4BF } /* Name.Tag */
    .nv { color: #EF6155 } /* Name.Variable */
    .ow { color: #5BC4BF } /* Operator.Word */
    .pm { color: #2F1E2E } /* Punctuation.Marker */
    .w { color: #2F1E2E } /* Text.Whitespace */
    .mb { color: #F99B15 } /* Literal.Number.Bin */
    .mf { color: #F99B15 } /* Literal.Number.Float */
    .mh { color: #F99B15 } /* Literal.Number.Hex */
    .mi { color: #F99B15 } /* Literal.Number.Integer */
    .mo { color: #F99B15 } /* Literal.Number.Oct */
    .sa { color: #48B685 } /* Literal.String.Affix */
    .sb { color: #48B685 } /* Literal.String.Backtick */
    .sc { color: #2F1E2E } /* Literal.String.Char */
    .dl { color: #48B685 } /* Literal.String.Delimiter */
    .sd { color: #8D8687 } /* Literal.String.Doc */
    .s2 { color: #48B685 } /* Literal.String.Double */
    .se { color: #F99B15 } /* Literal.String.Escape */
    .sh { color: #48B685 } /* Literal.String.Heredoc */
    .si { color: #F99B15 } /* Literal.String.Interpol */
    .sx { color: #48B685 } /* Literal.String.Other */
    .sr { color: #48B685 } /* Literal.String.Regex */
    .s1 { color: #48B685 } /* Literal.String.Single */
    .ss { color: #48B685 } /* Literal.String.Symbol */
    .bp { color: #2F1E2E } /* Name.Builtin.Pseudo */
    .fm { color: #06B6EF } /* Name.Function.Magic */
    .vc { color: #EF6155 } /* Name.Variable.Class */
    .vg { color: #EF6155 } /* Name.Variable.Global */
    .vi { color: #EF6155 } /* Name.Variable.Instance */
    .vm { color: #EF6155 } /* Name.Variable.Magic */
    .il { color: #F99B15 } /* Literal.Number.Integer.Long */
}

/*
 * CSS from pygmentize -S paraiso-dark -f html
 */
@media (prefers-color-scheme: dark) {
    pre { line-height: 125%; }
    td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
    span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
    td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
    span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
    .hll { background-color: #4f424c }
    .c { color: #776E71 } /* Comment */
    .err { color: #EF6155 } /* Error */
    .k { color: #815BA4 } /* Keyword */
    .l { color: #F99B15 } /* Literal */
    .n { color: #E7E9DB } /* Name */
    .o { color: #5BC4BF } /* Operator */
    .p { color: #E7E9DB } /* Punctuation */
    .ch { color: #776E71 } /* Comment.Hashbang */
    .cm { color: #776E71 } /* Comment.Multiline */
    .cp { color: #776E71 } /* Comment.Preproc */
    .cpf { color: #776E71 } /* Comment.PreprocFile */
    .c1 { color: #776E71 } /* Comment.Single */
    .cs { color: #776E71 } /* Comment.Special */
    .gd { color: #EF6155 } /* Generic.Deleted */
    .ge { font-style: italic } /* Generic.Emph */
    .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
    .gh { color: #E7E9DB; font-weight: bold } /* Generic.Heading */
    .gi { color: #48B685 } /* Generic.Inserted */
    .gp { color: #776E71; font-weight: bold } /* Generic.Prompt */
    .gs { font-weight: bold } /* Generic.Strong */
    .gu { color: #5BC4BF; font-weight: bold } /* Generic.Subheading */
    .kc { color: #815BA4 } /* Keyword.Constant */
    .kd { color: #815BA4 } /* Keyword.Declaration */
    .kn { color: #5BC4BF } /* Keyword.Namespace */
    .kp { color: #815BA4 } /* Keyword.Pseudo */
    .kr { color: #815BA4 } /* Keyword.Reserved */
    .kt { color: #FEC418 } /* Keyword.Type */
    .ld { color: #48B685 } /* Literal.Date */
    .m { color: #F99B15 } /* Literal.Number */
    .s { color: #48B685 } /* Literal.String */
    .na { color: #06B6EF } /* Name.Attribute */
    .nb { color: #E7E9DB } /* Name.Builtin */
    .nc { color: #FEC418 } /* Name.Class */
    .no { color: #EF6155 } /* Name.Constant */
    .nd { color: #5BC4BF } /* Name.Decorator */
    .ni { color: #E7E9DB } /* Name.Entity */
    .ne { color: #EF6155 } /* Name.Exception */
    .nf { color: #06B6EF } /* Name.Function */
    .nl { color: #E7E9DB } /* Name.Label */
    .nn { color: #FEC418 } /* Name.Namespace */
    .nx { color: #06B6EF } /* Name.Other */
    .py { color: #E7E9DB } /* Name.Property */
    .nt { color: #5BC4BF } /* Name.Tag */
    .nv { color: #EF6155 } /* Name.Variable */
    .ow { color: #5BC4BF } /* Operator.Word */
    .pm { color: #E7E9DB } /* Punctuation.Marker */
    .w { color: #E7E9DB } /* Text.Whitespace */
    .mb { color: #F99B15 } /* Literal.Number.Bin */
    .mf { color: #F99B15 } /* Literal.Number.Float */
    .mh { color: #F99B15 } /* Literal.Number.Hex */
    .mi { color: #F99B15 } /* Literal.Number.Integer */
    .mo { color: #F99B15 } /* Literal.Number.Oct */
    .sa { color: #48B685 } /* Literal.String.Affix */
    .sb { color: #48B685 } /* Literal.String.Backtick */
    .sc { color: #E7E9DB } /* Literal.String.Char */
    .dl { color: #48B685 } /* Literal.String.Delimiter */
    .sd { color: #776E71 } /* Literal.String.Doc */
    .s2 { color: #48B685 } /* Literal.String.Double */
    .se { color: #F99B15 } /* Literal.String.Escape */
    .sh { color: #48B685 } /* Literal.String.Heredoc */
    .si { color: #F99B15 } /* Literal.String.Interpol */
    .sx { color: #48B685 } /* Literal.String.Other */
    .sr { color: #48B685 } /* Literal.String.Regex */
    .s1 { color: #48B685 } /* Literal.String.Single */
    .ss { color: #48B685 } /* Literal.String.Symbol */
    .bp { color: #E7E9DB } /* Name.Builtin.Pseudo */
    .fm { color: #06B6EF } /* Name.Function.Magic */
    .vc { color: #EF6155 } /* Name.Variable.Class */
    .vg { color: #EF6155 } /* Name.Variable.Global */
    .vi { color: #EF6155 } /* Name.Variable.Instance */
    .vm { color: #EF6155 } /* Name.Variable.Magic */
    .il { color: #F99B15 } /* Literal.Number.Integer.Long */
}
