/* Overrides to the default Makeinfo CSS */
div.display {margin-left: 0}
div.example {margin-left: 0}
/* end of overrides */

body {
    color: black;
    background: white;
    margin-left: 5px;
    margin-right: 5px;
    font-family: "FreeSans", sans-serif
}
h1 { font-size: 150%; font-family: "FreeSans", sans-serif }
h2 { font-size: 125%; font-family: "FreeSans", sans-serif }
h3 { font-size: 100%; font-family: "FreeSans", sans-serif }
a[href] { color: rgb(0,0,255); text-decoration: none }
a[href]:hover {background: rgb(220,220,220) }
div.textbox {
    border: solid;
    border-width: thin;
    padding: 1em 2em;
}
div.titlebox {
    border: none;
    padding-top: 1em 2em;
    background: rgb(200,255,255);
    font-family: "FreeSans", sans-serif
}
div.synopsisbox {
    border: none;
    padding-top: 1em 2em;
    background: rgb(255,220,255)
}
pre.example, pre.example-preformatted {
    border: 1px solid rgb(180,180,180);
    padding: 5px;
    background-color: rgb(238,238,255);
    /* Add scrollbar for examples for narrow windows */
    overflow: auto
}

div.spacerbox { border: none; padding: 2em 0 }
div.image { margin: 0; padding: 1em; text-align: center }
div.categorybox {
    border: 1px solid gray;
    padding: 1em;
    background: rgb(247,242,220)
}
img {
    max-width:80%;
    max-height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* Put background color on the navigation bar */
div.header {
    background-color: #DDDDFF;
    padding: 3px 10px;
}
@media screen and (min-width: 600px) {
    body {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    div.display { margin: 0 2em }
    div.example { margin: 0 2em }
    pre.example, pre.example-preformatted { padding: 1em }
}
