pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hll { background-color: #0000ff }
.pyg-c { color: #0F0 } /* Comment */
.pyg-err { color: #DDD } /* Error */
.pyg-esc { color: #DDD } /* Escape */
.pyg-g { color: #DDD } /* Generic */
.pyg-k { color: #F00 } /* Keyword */
.pyg-l { color: #DDD } /* Literal */
.pyg-n { color: #DDD } /* Name */
.pyg-o { color: #DDD } /* Operator */
.pyg-x { color: #DDD } /* Other */
.pyg-p { color: #DDD } /* Punctuation */
.pyg-ch { color: #0F0 } /* Comment.Hashbang */
.pyg-cm { color: #0F0 } /* Comment.Multiline */
.pyg-cp { color: #E5E5E5 } /* Comment.Preproc */
.pyg-cpf { color: #0F0 } /* Comment.PreprocFile */
.pyg-c1 { color: #0F0 } /* Comment.Single */
.pyg-cs { color: #0F0 } /* Comment.Special */
.pyg-gd { color: #DDD } /* Generic.Deleted */
.pyg-ge { color: #DDD } /* Generic.Emph */
.pyg-ges { color: #DDD } /* Generic.EmphStrong */
.pyg-gr { color: #DDD } /* Generic.Error */
.pyg-gh { color: #DDD } /* Generic.Heading */
.pyg-gi { color: #DDD } /* Generic.Inserted */
.pyg-go { color: #DDD } /* Generic.Output */
.pyg-gp { color: #DDD } /* Generic.Prompt */
.pyg-gs { color: #DDD } /* Generic.Strong */
.pyg-gu { color: #DDD } /* Generic.Subheading */
.pyg-gt { color: #DDD } /* Generic.Traceback */
.pyg-kc { color: #F00 } /* Keyword.Constant */
.pyg-kd { color: #F00 } /* Keyword.Declaration */
.pyg-kn { color: #F00 } /* Keyword.Namespace */
.pyg-kp { color: #F00 } /* Keyword.Pseudo */
.pyg-kr { color: #F00 } /* Keyword.Reserved */
.pyg-kt { color: #EE82EE } /* Keyword.Type */
.pyg-ld { color: #DDD } /* Literal.Date */
.pyg-m { color: #F0F } /* Literal.Number */
.pyg-s { color: #87CEEB } /* Literal.String */
.pyg-na { color: #DDD } /* Name.Attribute */
.pyg-nb { color: #DDD } /* Name.Builtin */
.pyg-nc { color: #DDD } /* Name.Class */
.pyg-no { color: #7FFFD4 } /* Name.Constant */
.pyg-nd { color: #DDD } /* Name.Decorator */
.pyg-ni { color: #DDD } /* Name.Entity */
.pyg-ne { color: #DDD } /* Name.Exception */
.pyg-nf { color: #FF0 } /* Name.Function */
.pyg-nl { color: #DDD } /* Name.Label */
.pyg-nn { color: #DDD } /* Name.Namespace */
.pyg-nx { color: #DDD } /* Name.Other */
.pyg-py { color: #DDD } /* Name.Property */
.pyg-nt { color: #DDD } /* Name.Tag */
.pyg-nv { color: #EEDD82 } /* Name.Variable */
.pyg-ow { color: #F00 } /* Operator.Word */
.pyg-pm { color: #DDD } /* Punctuation.Marker */
.pyg-w { color: #DDD } /* Text.Whitespace */
.pyg-mb { color: #F0F } /* Literal.Number.Bin */
.pyg-mf { color: #F0F } /* Literal.Number.Float */
.pyg-mh { color: #F0F } /* Literal.Number.Hex */
.pyg-mi { color: #F0F } /* Literal.Number.Integer */
.pyg-mo { color: #F0F } /* Literal.Number.Oct */
.pyg-sa { color: #87CEEB } /* Literal.String.Affix */
.pyg-sb { color: #87CEEB } /* Literal.String.Backtick */
.pyg-sc { color: #87CEEB } /* Literal.String.Char */
.pyg-dl { color: #87CEEB } /* Literal.String.Delimiter */
.pyg-sd { color: #87CEEB } /* Literal.String.Doc */
.pyg-s2 { color: #87CEEB } /* Literal.String.Double */
.pyg-se { color: #87CEEB } /* Literal.String.Escape */
.pyg-sh { color: #87CEEB } /* Literal.String.Heredoc */
.pyg-si { color: #87CEEB } /* Literal.String.Interpol */
.pyg-sx { color: #87CEEB } /* Literal.String.Other */
.pyg-sr { color: #87CEEB } /* Literal.String.Regex */
.pyg-s1 { color: #87CEEB } /* Literal.String.Single */
.pyg-ss { color: #87CEEB } /* Literal.String.Symbol */
.pyg-bp { color: #DDD } /* Name.Builtin.Pseudo */
.pyg-fm { color: #FF0 } /* Name.Function.Magic */
.pyg-vc { color: #EEDD82 } /* Name.Variable.Class */
.pyg-vg { color: #EEDD82 } /* Name.Variable.Global */
.pyg-vi { color: #EEDD82 } /* Name.Variable.Instance */
.pyg-vm { color: #EEDD82 } /* Name.Variable.Magic */
.pyg-il { color: #F0F } /* Literal.Number.Integer.Long */
