pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hll { background-color: #ffffcc }
.pyg-c { color: #3D7B7B; font-style: italic } /* Comment */
.pyg-err { border: 1px solid #F00 } /* Error */
.pyg-k { color: #008000; font-weight: bold } /* Keyword */
.pyg-o { color: #666 } /* Operator */
.pyg-ch { color: #3D7B7B; font-style: italic } /* Comment.Hashbang */
.pyg-cm { color: #3D7B7B; font-style: italic } /* Comment.Multiline */
.pyg-cp { color: #9C6500 } /* Comment.Preproc */
.pyg-cpf { color: #3D7B7B; font-style: italic } /* Comment.PreprocFile */
.pyg-c1 { color: #3D7B7B; font-style: italic } /* Comment.Single */
.pyg-cs { color: #3D7B7B; font-style: italic } /* Comment.Special */
.pyg-gd { color: #A00000 } /* Generic.Deleted */
.pyg-ge { font-style: italic } /* Generic.Emph */
.pyg-ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.pyg-gr { color: #E40000 } /* Generic.Error */
.pyg-gh { color: #000080; font-weight: bold } /* Generic.Heading */
.pyg-gi { color: #008400 } /* Generic.Inserted */
.pyg-go { color: #717171 } /* Generic.Output */
.pyg-gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.pyg-gs { font-weight: bold } /* Generic.Strong */
.pyg-gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.pyg-gt { color: #04D } /* Generic.Traceback */
.pyg-kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.pyg-kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.pyg-kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.pyg-kp { color: #008000 } /* Keyword.Pseudo */
.pyg-kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.pyg-kt { color: #B00040 } /* Keyword.Type */
.pyg-m { color: #666 } /* Literal.Number */
.pyg-s { color: #BA2121 } /* Literal.String */
.pyg-na { color: #687822 } /* Name.Attribute */
.pyg-nb { color: #008000 } /* Name.Builtin */
.pyg-nc { color: #00F; font-weight: bold } /* Name.Class */
.pyg-no { color: #800 } /* Name.Constant */
.pyg-nd { color: #A2F } /* Name.Decorator */
.pyg-ni { color: #717171; font-weight: bold } /* Name.Entity */
.pyg-ne { color: #CB3F38; font-weight: bold } /* Name.Exception */
.pyg-nf { color: #00F } /* Name.Function */
.pyg-nl { color: #767600 } /* Name.Label */
.pyg-nn { color: #00F; font-weight: bold } /* Name.Namespace */
.pyg-nt { color: #008000; font-weight: bold } /* Name.Tag */
.pyg-nv { color: #19177C } /* Name.Variable */
.pyg-ow { color: #A2F; font-weight: bold } /* Operator.Word */
.pyg-w { color: #BBB } /* Text.Whitespace */
.pyg-mb { color: #666 } /* Literal.Number.Bin */
.pyg-mf { color: #666 } /* Literal.Number.Float */
.pyg-mh { color: #666 } /* Literal.Number.Hex */
.pyg-mi { color: #666 } /* Literal.Number.Integer */
.pyg-mo { color: #666 } /* Literal.Number.Oct */
.pyg-sa { color: #BA2121 } /* Literal.String.Affix */
.pyg-sb { color: #BA2121 } /* Literal.String.Backtick */
.pyg-sc { color: #BA2121 } /* Literal.String.Char */
.pyg-dl { color: #BA2121 } /* Literal.String.Delimiter */
.pyg-sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.pyg-s2 { color: #BA2121 } /* Literal.String.Double */
.pyg-se { color: #AA5D1F; font-weight: bold } /* Literal.String.Escape */
.pyg-sh { color: #BA2121 } /* Literal.String.Heredoc */
.pyg-si { color: #A45A77; font-weight: bold } /* Literal.String.Interpol */
.pyg-sx { color: #008000 } /* Literal.String.Other */
.pyg-sr { color: #A45A77 } /* Literal.String.Regex */
.pyg-s1 { color: #BA2121 } /* Literal.String.Single */
.pyg-ss { color: #19177C } /* Literal.String.Symbol */
.pyg-bp { color: #008000 } /* Name.Builtin.Pseudo */
.pyg-fm { color: #00F } /* Name.Function.Magic */
.pyg-vc { color: #19177C } /* Name.Variable.Class */
.pyg-vg { color: #19177C } /* Name.Variable.Global */
.pyg-vi { color: #19177C } /* Name.Variable.Instance */
.pyg-vm { color: #19177C } /* Name.Variable.Magic */
.pyg-il { color: #666 } /* Literal.Number.Integer.Long */
